<div class="container" >
    <mdb-icon fas style=" color: #6b1919;float:right;cursor: pointer;font-size: 24px;" icon="times" mdbTooltip="Close"
        placement="left" (click)="onClose()"></mdb-icon>
    <div class="row pb-1">
        <div class="col-md-8 pl-0 pb-2">
            <mdb-icon fas icon="user-friends" style=" color:#6b1919;font-size: large;"></mdb-icon>&nbsp;
            <span class="heading" style="padding-bottom: 4px;">Dealers Information and details</span>
        </div>
        <div class="col-md-4 pr-0 pb-2">

        </div>
    </div>

 
    <div>
        <div class="row">
            <div class="col-md-6 pt-2" style="text-align: right;">
                <label class="detailsClass">Date :</label>
            </div>
            <div class="col-md-6 pt-2">
                <label class="labelClass">02-05-2022</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">City :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    Nanded</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Country :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">India</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Dealer ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    5303</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Dealer Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">Jawwad Khan</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Location :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">ABC1</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Phone Number :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">8600396677</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Status :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">Deactive</label>
            </div>
        </div>
        
    </div>
</div>


