<div class="container">
    <mdb-icon fas style=" color: #d0112b;float:right;cursor: pointer;font-size: 24px;" icon="times" (click)="onClose()"
        mdbTooltip="Close" placement="left"></mdb-icon>
    <div class="row pb-1">
        <div class="col-md-8 pl-0 pb-2">
            <!-- <mdb-icon fas icon="user-friends" style=" color:#d0112b;font-size: large;"></mdb-icon>&nbsp; -->
            <span class="heading" style="padding-bottom: 4px solid #d0112b;text-decoration:underline">Dealer Performance
                Information and details</span>
        </div>
        <div class="col-md-4 pr-0 pb-2">

        </div>
    </div>


    <div>
        <div class="row">
            <div class="col-md-6 pt-2" style="text-align: right;">
                <label class="detailsClass">Registration Date :</label>
            </div>
            <div class="col-md-6 pt-2">
                <label class="labelClass">30-12-2021</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">
                    Dealer ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">1</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Dealer Name
                    :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">

                    Bhakti Shah</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">1</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    急支糖浆</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">
                    Is Scanned:</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">Yes</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Scanned by User :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    No</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Scan Date :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    
29-03-2022</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pb-2" style="text-align: right;">
                <label class="detailsClass">
                    Suspect Count :</label>
            </div>
            <div class="col-md-6 pb-2">
                <label class="labelClass">7</label>
            </div>
        </div>
    </div>
</div>