<div class="d-flex align-items-stretch">
  <!-- Sidebar Navigation-->
  <nav id="sidebar"  *ngIf="showBigHeader" >
    <!-- Sidebar Header-->
     <!-- Sidebar Header-->
     <div class="sidebar-header d-flex align-items-center">
      <div class="header-logo"><img src="../../../assets/img/Bimeda-Logo-White.png" alt="..." class="img-fluid">
      </div>

  </div>
  <hr>

  <!-- Sidebar Navidation Menus--><span class="heading">Bimeda Genuine</span>
  <hr>
  <ul class="list-unstyled">
    
      <li class="#"><a href="#" routerLink="/dashboard"> <img class="sidenav-icon" src="../../../assets/img/Icons/rocket2_w.png"><span>Dashboard</span> </a></li>
      <li class="#"><a href="#" routerLink="/Customer"> <img class="sidenav-icon" src="../../../assets/img/Icons/customer_white.png"><span>Customers</span> </a></li>
      <li class="#"><a href="#" routerLink="/Dealer"> <img class="sidenav-icon" src="../../../assets/img/Icons/customer2_w.png"><span>Dealers</span> </a></li>
      <li class="active"><a href="#" routerLink="/product"> <img class="sidenav-icon" src="../../../assets/img/Icons/Products_white.png"><span>Products </span> </a></li>
      <li><a href="#" routerLink="/qr"> <img class="sidenav-icon" src="../../../assets/img/Icons/qr_report_white.png"><span>QRs</span> </a></li>
      <li class="#"><a href="#" routerLink="/feedback"> <img class="sidenav-icon" src="../../../assets/img/Icons/complains-white.png"><span>Feedback </span></a></li>
      <li class="#"><a href="#" routerLink="/dealer-performance"> <img class="sidenav-icon" src="../../../assets/img/Icons/Dealer Performance_white.png"><span>Dealer Performance</span> </a></li>
      <li class="#"><a href="#" routerLink="/genuinity-heatmap"> <img class="sidenav-icon" src="../../../assets/img/Icons/map_w.png"><span>Genuinity Heat Map</span></a></li>
      <li class="#"><a href="#" routerLink="/help"> <img class="sidenav-icon" src="../../../assets/img/Icons/Help-white.png"><span>Help</span> </a></li>
      <!-- </ul><span class="heading">Extras</span>
      <ul class="list-unstyled"> -->
      <div class="sidebar-header d-flex align-items-center">
          <div class="bottom-logo"><img src="../../../assets/img/bray transparent sidemenu logo.png" alt="..."
                  class="img-fluid"></div>

      </div>
      

      <!-- <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li> -->

  </ul>
  </nav>
  <nav id="sidebar" *ngIf="showSmallHeader" class="shrinked">
    <!-- Sidebar Header-->
     <!-- Sidebar Header-->
     <div class="sidebar-header d-flex align-items-center">
      <div class="header-logo"><img src="../../../assets/img/Bimeda-Logo-White.png" alt="..." class="img-fluid">
      </div>

  </div>
  <hr>

  <!-- Sidebar Navidation Menus--><span class="heading">Bimeda Genuine</span>
  <hr>
  <ul class="list-unstyled">
    
      <li class="#" mdbTooltip="Dashboard" placement="right"><a href="#" routerLink="/dashboard"> <img class="sidenav-icon" src="../../../assets/img/Icons/rocket2_w.png" ><span>Dashboard</span> </a></li>
      <li class="#" mdbTooltip="Customers" placement="right"><a href="#" routerLink="/Customer"> <img class="sidenav-icon" src="../../../assets/img/Icons/customer_white.png"><span>Customers</span> </a></li>
      <li class="#" mdbTooltip="Dealers" placement="right"><a href="#" routerLink="/Dealer"> <img class="sidenav-icon" src="../../../assets/img/Icons/customer2_w.png"><span>Dealers</span> </a></li>
      <li class="active" mdbTooltip="Products" placement="right"><a href="#" routerLink="/product"> <img class="sidenav-icon" src="../../../assets/img/Icons/Products_white.png"><span>Products </span> </a></li>
      <li mdbTooltip="QRs" placement="right"><a href="#" routerLink="/qr"> <img class="sidenav-icon" src="../../../assets/img/Icons/qr_report_white.png"><span>QRs</span> </a></li>
      <li class="#" mdbTooltip="Feedback" placement="right"><a href="#" routerLink="/feedback"> <img class="sidenav-icon" src="../../../assets/img/Icons/complains-white.png"><span>Feedback </span></a></li>
      <li class="#" mdbTooltip="Dealer Performance" placement="right"><a href="#" routerLink="/dealer-performance"> <img class="sidenav-icon" src="../../../assets/img/Icons/Dealer Performance_white.png"><span>Dealer Performance</span> </a></li>
      <li class="#" mdbTooltip="Genuinity Heat Map" placement="right"><a href="#" routerLink="/genuinity-heatmap"> <img class="sidenav-icon" src="../../../assets/img/Icons/map_w.png"><span>Genuinity Heat Map</span></a></li>
      <li class="#" mdbTooltip="Help" placement="right"><a href="#" routerLink="/help"> <img class="sidenav-icon" src="../../../assets/img/Icons/Help-white.png"><span>Help</span> </a></li>
      <!-- </ul><span class="heading">Extras</span>
      <ul class="list-unstyled"> -->
      <div class="sidebar-header d-flex align-items-center">
          <div class="bottom-logo"><img src="../../../assets/img/bray transparent sidemenu logo.png" alt="..."
                  class="img-fluid"></div>

      </div>
      

      <!-- <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li> -->

  </ul>
  </nav>
  <!-- Sidebar Navigation end-->
  <div class="page-content" [ngClass]="{'active': showSmallHeader}">
    <div class="page-header">
      <div class="container-fluid">
        <!-- <h2 class="h5 no-margin-bottom">Dashboard</h2> -->
        <header class="header">   
          <nav class="navbar navbar-expand-lg">
     
            <div class="container-fluid d-flex align-items-center justify-content-between">
              <div class="navbar-header">
         
                <button class="sidebar-toggle" (click)="sideBarToggleFunction()"><i class="fa fa-align-justify"></i></button>
                  
                    <!-- <mdb-icon fas icon="rocket" style="color: #d0112b;font-size: 21px;vertical-align: -2px;"></mdb-icon>  -->
                    <img src="../../../assets/img/Icons/bimedaiconsupdated/Products-red.png" style="height: 29px; width: 29px;">
                    Add Product
                <!-- Sidebar Toggle Btn-->
                
              </div>
              <div class="right-menu list-inline no-margin-bottom">    
            
                <!-- Log out               -->
                <div class="list-inline-item logout">                  
                  <span class="d-none d-sm-inline"> 
                    <img src="{{url}}{{profilePicture}}" style="float: right;" width="100%" class="rounded-circle usr-img .profile-img mr-2">
            </span></div>
            <div class="list-inline-item logout">                  
                <span class="d-none d-sm-inline"> 
                    <h3 class="profile-paragraph-title m-0" >Welcome Super Admin! </h3>
                    <h4 class="profile-paragraph m-0">{{userName | titlecase}} </h4>
          </span></div>
              <div class="list-inline-item logout">                  <span class="d-none d-sm-inline"> <img class="pl-4" src="../../../assets/img/logout_btn.png" style="cursor: pointer;float:right;"
                mdbTooltip="Logout" placement="bottom" (click)="logout();"/></span></div>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
  
  
    <section class="no-padding-bottom">
      <div class="container-fluid">
          <div class="col-lg-12 pb-2 pl-0" style="font-weight: 500;font-family: 'Segoe UI';">
              <span style="border-bottom: 2px solid #d0112b;">Add Product Information</span>
          </div>
          
              <form [formGroup]='addProductForm'>
                  <div class="row">
                      <div class="col-lg-6 ">
                          <label class="label">Product Name</label><br>
                          <mat-form-field class="example-full-width" [hideRequiredMarker]="true" floatLabel='never' style="margin-top: -30px;">
                              <mat-label> Product Name</mat-label>
                              <input type="text" matInput autocomplete="off" required formControlName="productName">
                              <mat-error *ngIf="addProductForm.controls['productName'].invalid">{{getErrorProductName()}}</mat-error>
                            </mat-form-field>
                      </div>
                      <div class="col-lg-6 " >
                          <label class="label">Product Code</label><br>
                          <mat-form-field class="example-full-width " [hideRequiredMarker]="true" floatLabel='never' style="margin-top: -30px;">
                              <mat-label>Product Code</mat-label>
                              <input type="text" matInput  autocomplete="off" required formControlName="productCode">
                              <mat-error *ngIf="addProductForm.controls['productCode'].invalid">{{getErrorProductCode()}}</mat-error>
                            </mat-form-field>
                       </div>

                       <div class="col-lg-6">
                          <label class="label">Product Category</label><br>
                            <mat-form-field class="example-full-width" [hideRequiredMarker]="true" floatLabel='never' style="margin-top: -30px;">
                              <mat-label>Product Category</mat-label>
                              <mat-select placeholder="Product Category" formControlName="productCategory" multiple [(value)]="selectedProductCategory">
                                <mat-option *ngFor="let cat of productCategoryList" [value]="cat.ID">{{cat.AnimalCategory}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="addProductForm.controls['productCategory'].invalid">{{getErrorProductCategory()}}</mat-error>
                            </mat-form-field>
                            <!-- <p>{{selectedProductCategory}}</p> -->
                           
                       </div>
                       <div class="col-lg-6">
                          <label class="label">Product Species</label><br>
                          <mat-form-field class="example-full-width" [hideRequiredMarker]="true" floatLabel='never' style="margin-top: -30px;">
                            <mat-label>Product Species</mat-label>
                            <mat-select placeholder="Product Species" multiple formControlName="productSpecies" [(value)]="selectedProductSpecies" >
                              <mat-option *ngFor="let specie of productSpeciesList" [value]="specie.ID">{{specie.SpeciesCategoryName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addProductForm.controls['productSpecies'].invalid">{{getErrorProductSpecies()}}</mat-error>
                          </mat-form-field>
                           <!-- <p>{{selectedProductSpecies}}</p> -->
                       </div>
                       <div class="col-lg-6">
                          <label class="label">Package Size</label><br>
                          <mat-form-field class="example-full-width" [hideRequiredMarker]="true" floatLabel='never' style="margin-top: -30px;">
                              <mat-label>Package Size</mat-label>
                              <input type="text" matInput formControlName="packageSize" autocomplete="off" required formControlName="packageSize">
                              <mat-error *ngIf="addProductForm.controls['packageSize'].invalid">{{getErrorProductSize()}}</mat-error>
                            </mat-form-field>
                       </div>
                       <div class="col-lg-6 ">
                          <label class="label">Active Ingredients</label><br>
                          <mat-form-field class="example-full-width " [hideRequiredMarker]="true" floatLabel='never' style="margin-top: -30px;">
                              <mat-label>Active Ingredients</mat-label>
                              <input type="text" matInput formControlName="activeIngredients" autocomplete="off" required formControlName="activeIngredients">
                              <mat-error *ngIf="addProductForm.controls['activeIngredients'].invalid">{{getErrorProductIngredients()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                          <div class="col-lg-12 pl-0">
                              
                              <label class="label-upload-img">Upload Product Image (1 Attachment only for max size 5 MB)</label><br>
     
                         
                              <button mat-raised-button color="browse" for="fileInput" (click)="fileInput.value='';fileInput.click()"
                              >Browse Image</button> &nbsp;&nbsp;
                              <span style="position:relative;" *ngIf="isURL">
                             
                                  
                               <img src="{{urlProduct}}" class="img-upload" style="height: 50px;width: 50px;border-radius: 3%;" > 
                               <!-- <span  class="close AClass" style="color:red">&times;</span> -->
                               <span class="wrap-img-doc-txt" style="font-weight: 400;font-family: 'Segoe UI'; padding-left: 2px;">
                                  {{imageFileName}}
                              </span>
                               
                           </span>
                  
                                <input type='file' #fileInput hidden accept='image/*' (change)="onSelectFile($event)">
                          </div>
                          <div class="col-lg-12 pl-0">
                              <label class="label-upload">Upload Product Documents</label><br>
                              <div class="row">
                                <div class="col-lg-4">
                                  <button mat-raised-button color="browse" for="fileInputPDF" (click)="fileInputPDF.value='';fileInputPDF.click()"
                                >Browse Document</button> &nbsp;&nbsp;
                                </div>
                                <div class="col-lg-8">
                                  <span style="position:relative;" *ngIf="ispdfURL">
                                    
                                         
                                    
                             
                                    <span *ngFor="let filename of thumbnailArray">
                                   <span> <i class="{{getFileExtension(filename)}}" style="color:#D0112B;;font-size:50px;padding-left: 20px;padding-top: 10px;"
                                    aria-hidden="true"></i> </span> 
                                         <!-- <span class="wrap-img-doc-txt" style="font-weight: 400;font-family: 'Segoe UI'; padding-left: 2px;">
                                           {{filename}}
                                       </span>  -->
                                 </span>
                                    
                   
                                
                            </span>
                   
                                 <input type='file' #fileInputPDF multiple hidden  (change)="onSelectFileDocument($event)">
                                  </div>
                              </div>
                              
                              
                         
                          </div>
                     
                        </div>
                        <div class="col-lg-6">
                          <label class="label-desc">Description / Links</label><br>
                          <mat-form-field class="example-full-width pb-3" appearance="outline" [hideRequiredMarker]="true" floatLabel='never' style="margin-top: 0px;">
        
                              <textarea matInput formControlName="descriptionLinks" placeholder="Description / Links" autocomplete="off" formControlName="descriptionLinks"></textarea>
                             
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" ></div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" >
                          <div class="form-group">
                      
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <button mat-raised-button class="login-btn" (click)="addProduct();" >SUBMIT</button>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <button mat-raised-button class="cancel-btn" routerLink="/product">CANCEL</button>
                              
                             
                              </div>
                            </div>
                            
                           
                           
                          </div>
                        </div>

                  </div>

             
              </form>
          
      </div>
  </section>

  </div>
</div>


