<div class="container">
    <mdb-icon fas style=" color: #d0112b;float:right;cursor: pointer;font-size: 24px;" icon="times" (click)="onClose()" mdbTooltip="Close"
        placement="left"></mdb-icon>
    <div class="row pb-1">
        <div class="col-md-8 pl-0 pb-2">
            <!-- <mdb-icon fas icon="user-friends" style=" color:#d0112b;font-size: large;"></mdb-icon>&nbsp; -->
            <span class="heading" style="padding-bottom: 4px;">Product Information and details</span>
        </div>
        <div class="col-md-4 pr-0 pb-2">

        </div>
    </div>


    <div>
        <div class="row">
            <div class="col-md-6 pt-2" style="text-align: right;">
                <label class="detailsClass">Sync Date :</label>
            </div>
            <div class="col-md-6 pt-2">
                <label class="labelClass">29-06-2022</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">1</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    急支糖浆</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">QR Count :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">726</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Total Scans :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">38</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Suspected Scans :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">32</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Deception % :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    168.421</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Scan Date :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    22-09-2022</label>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6 pb-2" style="text-align: right;">
                <label class="detailsClass">Number of Volunteer Activities created :</label>
            </div>
            <div class="col-md-6 pb-2">
                <label class="labelClass"></label>
            </div>
        </div> -->
    </div>
</div>



