
<div class="container" >
    <mdb-icon fas style=" color: #d0112b;float:right;cursor: pointer;font-size: 24px;" icon="times" mdbTooltip="Close"
        placement="left" (click)="onClose()"></mdb-icon>
    <div class="row pb-1">
        <div class="col-md-8 pl-0 pb-2">
            <mdb-icon fas icon="user-friends" style=" color:#d0112b;font-size: large;"></mdb-icon>&nbsp;
            <span class="heading" style="padding-bottom: 4px;">Feedback Information and details</span>
        </div>
        <div class="col-md-4 pr-0 pb-2">

        </div>
    </div>

 
    <div>
        <div class="row">
            <div class="col-md-6 pt-2" style="text-align: right;">
                <label class="detailsClass">Feedback Date :</label>
            </div>
            <div class="col-md-6 pt-2">
                <label class="labelClass">30-12-2021</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Feedback ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    1</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Customer ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">864</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Customer Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    Bhakti Shah</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">1</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    急支糖浆</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Reported QR Code :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">7315ACDUFLTQGBQTPJUNMCSL</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Reported Date :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">30-12-2021</label>
            </div>
        </div>
        
    </div>
</div>


