<div class="container" >
    <mdb-icon fas style=" color: #d0112b;float:right;cursor: pointer;font-size: 24px;" icon="times" mdbTooltip="Close"
        placement="left" (click)="onClose()"></mdb-icon>
    <div class="row pb-1">
        <div class="col-md-8 pl-0 pb-2">
            <!-- <mdb-icon fas icon="user-friends" style=" color:#d0112b;font-size: large;"></mdb-icon>&nbsp; -->
            <span class="heading" style="padding-bottom: 4px;text-decoration:underline;">QR Information and details</span>
        </div>
        <div class="col-md-4 pr-0 pb-2">

        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-6 pt-2" style="text-align: right;">
                <label class="detailsClass">Sync Date :</label>
            </div>
            <div class="col-md-6 pt-2">
                <label class="labelClass">18-07-2022</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">QR ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">6U7DUY39BYSMMNHRLMJWECHI</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Customer ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">666
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Customer Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">Pankaj Yewale</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product ID :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">1PAR030
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Product Name :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">NA</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Is Used :</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">
                    true</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Is Suspended:</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">true</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align: right;">
                <label class="detailsClass">Escalated Count:</label>
            </div>
            <div class="col-md-6">
                <label class="labelClass">0</label>
            </div>
        </div>
        
    </div>
    
</div>


