.sidenav-icon{
  margin-right: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 8px;
  border-right: 1px solid #efa5a566;
 height: 25px;
}


  agm-map {
      height: 700px;
    }

 
    .example-container {
      display: flex;
      flex-direction: column;
     // max-height: 500px;
      // min-width: 300px;
      margin-bottom: 10px;
      overflow-x: scroll;
      width: 100%;
    }
    
    .overlay{
      height:100vh;
      width:100%;
      background-color:white;
      z-index:    10;
      top:        0; 
      left:       0; 
      position:   fixed;
    }
    .center {
      position: absolute;
      background-color:white;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .profile-paragraph{
      font-size:12px;
      color:#000000;
      font-weight: 500;
      text-align: left;
      }
      agm-map {
          height: 700px;
        }
        .bottom-logo{
          width: 90%;
          height: auto;
          margin-left: 40px;
        }
    .profile-paragraph-title{
        font-size:12px;
        color:#000000;
     
        text-align: left;
        }
        .usr-img{
          height: 43px;
          width: 43px;
          border: 1px solid #d0d0d0;
          padding: 3px;
          vertical-align: -12px;
          border-radius: 50% !important;
        }
   

.mat-header-cell{
  color:#ffffff;
  font-size: 14px;
  font-family: 'Segoe UI';
}
.mat-cell{
  color:#000000;
  font-size: 14px;
  font-family: 'Segoe UI';
  font-weight: 400;
}
.label{
 
  color: #000000;
  font-size: 14px;
  font-family: 'Segoe UI';
  font-weight: 600 !important;
}
.label-new{
 
  color: #e9e9ee;
  font-size: 14px;
  font-family: 'Segoe UI';
  font-weight: 600 !important;
}
.form-group{
  margin-bottom: 0px !important;
}
.input{
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    color:black;
    font-size: small;
    font-family: 'Segoe UI';

}
// input[type="date"]:before {
//   content: attr(placeholder) !important;
//   color: #aaa;
//   margin-right: 0.5em;
// }
// input[type="date"]:focus:before,
// input[type="date"]:valid:before {
//   content: "";
// }
::-webkit-scrollbar {
  display: none;
}
table{
  width: 150%;
 }
 .no-data{
  font-family: 'Segoe UI';
  font-weight: 400;
  padding: 20px 0px 20px 25px;
}
 .mat-column-date {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 12% !important;
   width: 12% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-city {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 14% !important;
   width: 14% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
   
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-country {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 12% !important;
   width: 12% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
   padding-left: 5px!important;
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-dealerID {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
 
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
 
 .mat-column-fullName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
 
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-location {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-phoneNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-action1 {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-action2 {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.sidenav-icon{
  margin-right: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 8px;
  border-right: 1px solid #efa5a566;
  height: 25px;
}
// .mat-column-action2 {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 17% !important;
//   width: 17% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }



.mat-success {
  background-color: green !important;
  color: #ffffff !important;
  font-weight: 600;
  font-family: 'Segoe UI';
}
.mat-deactivate {
  background-color: #D0112B !important;
  color: #ffffff !important;
  font-weight: 600;
  font-family: 'Segoe UI';
}
.mat-reset {
  background-color: #505050 !important;
  color: #ffffff !important;
  font-weight: 600;
  font-family: 'Segoe UI';
}
.mat-reset-password {
  background-color: #2e489c !important;
  color: #ffffff !important;
  font-weight: 600;
  font-family: 'Segoe UI';
}
.mat-search {
  background-color: #D0112B !important;
  color: #ffffff !important; 
   font-weight: 600;
  font-family: 'Segoe UI';

}
.mat-template {
  background-color: #2e489c !important;
  color: #ffffff !important; 
   font-weight: 600;
  font-family: 'Segoe UI';

}

a:link {
  color: #fff;
  text-decoration: none;
  outline: none;
}

/* visited link */
a:visited:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a:active, a:focus, li:focus, li:active {
  outline: none !important;
  border: none !important;        
  text-decoration: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}
/* mouse over link */
.no-data{
  font-family: 'Segoe UI';
  font-weight: 400;
  padding: 20px 0px 20px 25px;
}
.overlay{
  height:100vh;
  width:100%;
  background-color:white;
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
.center {
  position: absolute;
  background-color:white;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* selected link */
a:active {
  color: #fff;
  text-decoration: none;
  outline: none;

}
.option{
  background-color: #e9e9e9;
  color: black;
  padding: 5px;
  font-family: 'Segoe UI';
  font-size: small;
}.fac-dropdown{
 
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  color:black;
  font-size: small;

  overflow-y: scroll;
}
.form-group{
  margin-bottom: 0px !important;
}
.mat-add-dealer {
  background-color: #e9e9ee !important;
  color: #000 !important;
  font-weight: 500 !important;
  font-family: 'Segoe UI';
  border: 2px solid #D0112B;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10%), 0 6px 20px 0 rgba(0, 0, 0, 9%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-table {
  overflow-x: scroll;
}

.mat-row,
.mat-header-row {
  min-width: 800px;
}