
.sidenav-icon{
  margin-right: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 8px;
  border-right: 1px solid #efa5a566;
 height: 25px;
}



 
 
    .overlay{
      height:100vh;
      width:100%;
      background-color:white;
      z-index:    10;
      top:        0; 
      left:       0; 
      position:   fixed;
    }
    .center {
      position: absolute;
      background-color:white;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .profile-paragraph{
      font-size:12px;
      color:#000000;
      font-weight: 500;
      text-align: left;
      }
      agm-map {
          height: 700px;
        }
        .bottom-logo{
          width: 90%;
          height: auto;
          margin-left: 40px;
        }
    .profile-paragraph-title{
        font-size:12px;
        color:#000000;
     
        text-align: left;
        }
        .usr-img{
          height: 43px;
          width: 43px;
          border: 1px solid #d0d0d0;
          padding: 3px;
          vertical-align: -12px;
          border-radius: 50% !important;
        }
   
    
      
      .customer-img{
        height: 60px;
        width: 60px;
        border-radius: 50% !important;
      }
      .header{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10%), 0 6px 20px 0 rgba(0, 0, 0, 9%);
      }

      
   
        .example-container {
          display: flex;
          flex-direction: column;
         // max-height: 500px;
          min-width: 300px;
          margin-bottom: 10px;
        }
        
        // .mat-table {
        //   // overflow: auto;
        //   // max-height: 500px;
        // }
        button:focus, 
  button:active:focus, 
  button.active:focus {
      outline: none !important;
      outline-style: none !important;
  }
  
  .mat-header-cell{
    color:#ffffff;
    font-size: 14px;
    font-family: 'Segoe UI';
  }
  .mat-cell{
    color:#000000;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 400;
  }
  .label{
   
    color: #000000;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 600 !important;
  }
  .label-new{
   
    color: #e9e9ee;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 600 !important;
  }
  .form-group{
    margin-bottom: 0px !important;
  }
  .input{
      background-color: #ffffff;
      border: 1px solid #CCCCCC;
      color:black;
      font-size: small;
      font-family: 'Segoe UI';
  
  }
  // input[type="date"]:before {
  //   content: attr(placeholder) !important;
  //   color: #aaa;
  //   margin-right: 0.5em;
  // }
  // input[type="date"]:focus:before,
  // input[type="date"]:valid:before {
  //   content: "";
  // }
  ::-webkit-scrollbar {
    display: none;
  }
  table{
    width: 150%;
   }
   .description-padding{
    padding-left: 0px;
    padding-top: 7px;
    }
    .category{
      color: black;
      font-size: 14px !important;
      font-weight: 600 !important;
      font-family: 'Segoe UI';
      }
      .edit-heading{
        color: black;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: 'Segoe UI';
        text-decoration: underline;
        }
        .no-data{
          font-family: 'Segoe UI';
          font-weight: 400;
          padding: 20px 0px 20px 25px;
        }
        .overlay{
          height:100vh;
          width:100%;
          background-color:white;
          z-index:    10;
          top:        0; 
          left:       0; 
          position:   fixed;
        }
        .center {
          position: absolute;
          background-color:white;
          top: 50%;
          left: 50%;
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
      }
      .category-value{
      color: black;
      font-size: 14px !important;
      font-family: 'Segoe UI';
      font-weight: 400;
      padding-left: 5px;
      }
   .mat-column-date {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 16% !important;
     width: 16% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-complaintID {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 16% !important;
     width: 16% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-productID {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 16% !important;
     width: 16% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     padding-left: 5px!important;
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-productName {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 16% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
   
   .mat-column-reportedQRCode {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 16% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-left: 208px;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

  }
  
  .mat-table {
    overflow-x: scroll;
  }
  
  .mat-row,
  .mat-header-row {
    min-width: 500px;
  }