<div class="d-flex align-items-stretch">
  <!-- Sidebar Navigation-->
  <nav id="sidebar">
    <!-- Sidebar Header-->
     <!-- Sidebar Header-->
     <div class="sidebar-header d-flex align-items-center">
      <div class="header-logo"><img src="../../../assets/img/Bimeda-Logo-White.png" alt="..." class="img-fluid">
      </div>

  </div>
  <hr>

  <!-- Sidebar Navidation Menus--><span class="heading">Bimeda Genuine</span>
  <hr>
  <ul class="list-unstyled">
    
      <li class="active"><a href="#" routerLink="/dashboard"> <img class="sidenav-icon" src="../../../assets/img/Icons/rocket2_w.png"><span>Dashboard</span> </a></li>
      <li class="#"><a href="#" routerLink="/Customer"> <img class="sidenav-icon" src="../../../assets/img/Icons/customer_white.png"><span>Customers</span> </a></li>
      <li class="#"><a href="#" routerLink="/Dealer"> <img class="sidenav-icon" src="../../../assets/img/Icons/customer2_w.png"><span>Dealers</span> </a></li>
      <li><a href="#" routerLink="/product"> <img class="sidenav-icon" src="../../../assets/img/Icons/Products_white.png"><span>Products </span> </a></li>
      <li><a href="#" routerLink="/qr"> <img class="sidenav-icon" src="../../../assets/img/Icons/qr_report_white.png"><span>QRs</span> </a></li>
      <li class="#"><a href="#" routerLink="/feedback"> <img class="sidenav-icon" src="../../../assets/img/Icons/complains-white.png"><span>Feedback </span></a></li>
      <li class="#"><a href="#" routerLink="/dealer-performance"> <img class="sidenav-icon" src="../../../assets/img/Icons/Dealer Performance_white.png"><span>Dealer Performance</span> </a></li>
      <li class="#"><a href="#" routerLink="/genuinity-heatmap"> <img class="sidenav-icon" src="../../../assets/img/Icons/map_w.png"><span>Genuinity Heat Map</span></a></li>
      <li class="#"><a href="#" routerLink="/help"> <img class="sidenav-icon" src="../../../assets/img/Icons/Help-white.png"><span>Help</span> </a></li>
      <!-- </ul><span class="heading">Extras</span>
      <ul class="list-unstyled"> -->
      <div class="sidebar-header d-flex align-items-center">
          <div class="bottom-logo"><img src="../../../assets/img/bray transparent sidemenu logo.png" alt="..."
                  class="img-fluid"></div>

      </div>
      

      <!-- <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li> -->

  </ul>
  </nav>
  <!-- Sidebar Navigation end-->
  <div class="page-content">
    <div class="page-header">
      <div class="container-fluid">
        <!-- <h2 class="h5 no-margin-bottom">Dashboard</h2> -->
        <header class="header">   
          <nav class="navbar navbar-expand-lg">
     
            <div class="container-fluid d-flex align-items-center justify-content-between">
              <div class="navbar-header">
         
                <button class="sidebar-toggle"><i class="fa fa-align-justify"></i></button>
                  
                    <!-- <mdb-icon fas icon="rocket" style="color: #d0112b;font-size: 21px;vertical-align: -2px;"></mdb-icon>  -->
                    <img src="../../../assets/img/Icons/bimedaiconsupdated/dashboard.png" style="height: 29px; width: 29px;">
                    Dashboard
                <!-- Sidebar Toggle Btn-->
                
              </div>
              <div class="right-menu list-inline no-margin-bottom">    
            
                <!-- Log out               -->
                <div class="list-inline-item logout">                   <a id="logout" href="login.html" class="nav-link"> <span class="d-none d-sm-inline">Logout </span><i class="icon-logout"></i></a></div>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>


  </div>
</div>